#map-container {
    height: 100vh; /* Set this to your desired height */
    width: 100%; /* Set this to your desired width */
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  #map {
    height: 630px; /* Adjust the height as needed */
    width: 60%; /* Adjust the width as needed */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  #header {
    width: 100%;
    height: 60px;
    background-color: whitesmoke; 
    display: flex;
    flex-direction: row;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
  }
  #header img {
    width: 60px;
    height: 60px;
  }
  #form {
    width: 100%;
    height: 60px;
    display: flex;
    
  }
  form {
    /*margin-top: 20px;  Space between map and form */
    background-color: whitesmoke;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
  }
  .routes {
    width: 25%;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    justify-content: space-around;
    background-color: whitesmoke;
    border-radius: 15px;
    height: 630px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #route-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .route-name {
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 5px;
    font-weight: bold;
    width: 75%;
    align-self: center;
  }
  input[type="radio"] {
    display: none;
  }
  #route-name1:hover {
    color: #c30000;
    background-color: white;
    border: 1px solid #c30000;
    
  }
  #route-name2:hover {
    color: #0e9305;
    background-color: white;
    border: 1px solid #0e9305;
  }
  #route-name3:hover {
    color: #607d8b;
    background-color: white;
    border: 1px solid #607d8b;
  }
  #route-name4:hover {
    color: #9c27b0;
    background-color: white;
    border: 1px solid #9c27b0;
  }
  #route-name5:hover {
    color: #283333;
    background-color: white;
    border: 1px solid #283333;
  }
  #route-name6:hover {
    color: #3949ab;
    background-color: white;
    border: 1px solid #3949ab;
  }
  #route-name7:hover {
    color: #8d6a5e;
    background-color: white;
    border: 1px solid #8d6a5e;
  }
  #route-name8:hover {
    color: #c2185b;
    background-color: white;
    border: 1px solid #c2185b;
  }
  #route-name9:hover {
    color: #4298d5;
    background-color: white;
    border: 1px solid #4298d5;
  }
  #route-name10:hover {
    color: #ff6849;
    background-color: white;
    border: 1px solid #ff6849;
  }
  #route-name1 {
    background-color: #c30000;
    color: white;
  }
  #route-name2 {
    background-color: #0e9305;
    color: white;
  }
  #route-name3 {
    background-color: #607d8b;
    color: white;
  }
  #route-name4 {
    background-color: #9c27b0;
    color: white;
  }
  #route-name5 {
    background-color: #283333;
    color: white;
  }
  #route-name6 {
    background-color: #3949ab;
    color: white;
  }
  #route-name7 {
    background-color: #8d6a5e;
    color: white;
  }
  #route-name8 {
    background-color: #c2185b;
    color: white;
  }
  #route-name9 {
    background-color: #4298d5;
    color: white;
  }
  #route-name10 {
    background-color: #ff6849;
    color: white;
  }
  label{
    cursor: pointer;
  }
  #form {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
  }
  table button {
    padding: 10px;
    background-color: #ffff;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 5px;
  }
  table button:hover {
    background-color: #8F2A46;
    color: white;
  }