#map-container {
    height: 100vh; /* Set this to your desired height */
    width: 100%; /* Set this to your desired width */
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  #map {
    height: 630px; /* Adjust the height as needed */
    width: 60%; /* Adjust the width as needed */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  #header {
    width: 100%;
    height: 60px;
    background-color: whitesmoke; 
    display: flex;
    flex-direction: row;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
  }
  #header img {
    width: 60px;
    height: 60px;
  }
  #form {
    width: 100%;
    height: 60px;
    display: flex;
    
  }
  form {
    /*margin-top: 20px;  Space between map and form */
    background-color: whitesmoke;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
  }
  .routes {
    width: 20%;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    justify-content: space-around;
    background-color: whitesmoke;
    border-radius: 15px;
    height: 630px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #route-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .route-name {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #ffff;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 5px;
  }
  input[type="radio"] {
    display: none;
  }
  .route-name:hover {
    background-color: #8F2A46;
    color: white;
  }
  label{
    cursor: pointer;
  }
  #form {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
  }
  table button {
    padding: 10px;
    background-color: #ffff;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 5px;
  }
  table button:hover {
    background-color: #8F2A46;
    color: white;
  }